*{
	margin: 0;
	padding: 0;
}
body {
	font-family: "Times New Roman", Arial, sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.page {
	margin: 0 auto;
	max-width: 1180px;
	padding-top: 30px;
	padding-bottom: 28px;
}

.header__line {
	width: 100%;
	font-weight: bold;
}

.logo {
	width: 24%;
}

.main-menu{
	font-size: 13pt;
}
.main-menu-nav__link {
	color: #343e5c;
	text-align: center;
	padding: 8px;
}

.main-menu-nav__link:hover {
	color: #b9bed1;
}
.nav_link-last {
	padding-right: 0;
}

.shop {
	font-size:90%;
}

.shop__icon{
 	width: 20px;
}

.shop_elem {
	float: left;
}

.shop-elem__buy{
	padding: 7px;
	display: inline-block;
}

.ellips {
	border: 2px solid #e3e8f0;
	border-radius: 19px;
	text-align: center;
	padding: 9px 14px;
}	

.shop-elem__quantity {
	background-color: #e3e8f0;
	padding: 8px 13px;
}

.sign-in__text{
	font-size: 85%;
}
.sign-in__text:hover{
	text-decoration: underline;
}

.separator{
	border: 1px solid #f0f2f7;
	height: 0px;
}

.secound_part{
	padding: 0;
}

.content-line{
	width: 100%;
}

.content-line__left-column{
	width: 60%;
}

.content-nav__page{
	padding: 15px;
	color: #b9bed1;
	font-size: 92%;
}

.content-nav__page:hover{
	color: #343e5c;
}
.first{
	padding-left: 0;
}

.last{
	padding-right: 0;
}

.content-line-right-column__content-nav{
	text-align: right;
}

.content-line-right-column__page{
	color: #b9bed1;
	padding: 15px;
}

.content-line-right-column__page:hover {
	color: #343e5c;
}

.content-line-right__search-block {
	border-left: 1px solid #f0f2f7;
	border-right: 1px solid #f0f2f7;
	display: inline-block;
	padding: 20px;
}

.content-line-right-column__img{
	width: 13px;
}

.content-line-right-column__search{
	border: none;
  color: #9999cc;
	height: 30px;
  padding-left: 7px;
}
 .bg{
	background-color: #1c1e23;
 }

.aticle{
	color: #fff;
	font-size: 200%
	height: 500px;
}

.aticle-main{
	float: left;
	padding-top: 70px;
	padding-left: 100px;
  padding-right: 65px;
}

.aticle__paragraph{
	font-size: 15pt;
}

.aticle__paragraph_last{
	padding-bottom: 65px;
}

.bue-button{
    background-color: #3366ff;
    border: none;
    border-radius: 21px;
    color: #fff;
    font-weight: bold;
    height: 40px;
	  width: 165px;
}

.bue-button:active{
	height: 39px;
  width: 164px;
}

.aticle__image{
	float: right;
}