.simple

body{
	background-color: #f3f5f7;
}

p{
	margin: 0;
	padding: 0;
}

.box{
	color: #7c7f97;
	padding-top: 50px;
	font-size: 200%;
}

.fonts1{
	font-family: 'Amatic SC', cursive;
}

.fonts2{
	font-family: 'Pacifico', cursive;
}

.fonts3{
	font-family: 'Lobster', cursive;
}

.fonts4{
	font-family: 'Pangolin', cursive;
}

.t-a_left{
	text-align: left;
}