/*BAsic Settings
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}*/
html {
  height: 100%;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}
body {
  line-height: 0;
  font-family: Arial;
  text-align: left;
  padding-top: 3rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong {
  font-weight: bold;
}
input {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
/*Header styles*/
header {
  background-image: url('../image/bg.jpg');
  height: 100vh;
  min-height: 60rem;
}
.header-top-block {
  height: 5rem;
  background-color: rgba(16, 22, 54, 0.2);
}
.header-logo {
  color: #fff;
  font-size: 3.5rem;
}
.header-logo_text {
  color: #757579;
  font-size: 1.2rem;
  font-style: italic;
  padding-left: 3rem;
}
.header-logo_coma {
  color: #4c76ff;
}
.header-nav {
  height: 100%;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
}
.header-nav_item {
  display: inline-block;
  padding: 0 1rem;
}
.header-nav_item a {
  color: #fff;
  font-size: 1.2rem;
}
.sqr {
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9,
.line10,
.line11,
.line12,
.line13 {
  display: block;
}
.line1 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box6 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box9 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box10 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box11 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line1 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box2 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box8 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box9 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box11 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box12 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box14 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box18 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line2 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box3 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box5 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box7 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box8 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box12 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box13 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box14 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box15 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box17 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line3 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box2 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box5 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box6 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box7 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box10 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box13 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box15 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box18 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line4 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box6 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box9 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box11 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line5 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box2 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box8 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box12 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box14 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box18 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line6 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box3 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box5 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box7 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box10 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box13 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box14 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box15 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box17 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line7 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box2 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box8 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box12 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box14 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box18 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line8 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box6 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box9 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box11 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line9 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box2 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box5 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box6 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box7 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box10 {
  background-color: #3db8f5;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box13 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box15 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box18 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line10 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box3 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box5 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box7 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box8 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box9 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box11 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box12 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box13 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box15 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box17 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line11 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box2 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box6 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box8 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box9 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box10 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box11 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box12 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box14 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box18 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line12 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box1 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box2 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box3 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box4 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box5 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box6 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box7 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box8 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box9 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box10 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box11 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box12 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box13 {
  background-color: #d1e3ec;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box14 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box15 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box16 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box17 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box18 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
.line13 .box19 {
  background-color: #110e7c;
  height: 3rem;
  width: 3rem;
  border: 0.5px solid #939393;
  display: inline-block;
}
